
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	# Worktree management moved to shell scripts: wt, wd, wl
	# See ~/.local/bin/wt, ~/.local/bin/wd, ~/.local/bin/wl

[pull]
	rebase = true

[init]
	defaultBranch = master

[user]
	name = Kevin Sclafani
	email = 145733929+quiet-ghost@users.noreply.github.com

[coderabbit]
	machineId = cli/redacted-for-public

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

