IEclipsePreferences#org-eclipse-ui-workbench:rose-pine-sql {
  preferences:
    'org.jkiss.dbeaver.sql.editor.color.text.background=25,23,36'
    'org.jkiss.dbeaver.sql.editor.color.text.foreground=224,222,244'
    'org.jkiss.dbeaver.sql.editor.color.keyword.foreground=196,167,231'
    'org.jkiss.dbeaver.sql.editor.color.datatype.foreground=246,193,119'
    'org.jkiss.dbeaver.sql.editor.color.function.foreground=235,188,186'
    'org.jkiss.dbeaver.sql.editor.color.string.foreground=246,193,119'
    'org.jkiss.dbeaver.sql.editor.color.number.foreground=235,188,186'
    'org.jkiss.dbeaver.sql.editor.color.comment.foreground=110,106,134'
    'org.jkiss.dbeaver.sql.editor.color.table.foreground=156,207,216'
    'org.jkiss.dbeaver.sql.editor.color.table.alias.foreground=156,207,216'
    'org.jkiss.dbeaver.sql.editor.color.column.foreground=49,116,143'
    'org.jkiss.dbeaver.sql.editor.color.column.derived.foreground=49,116,143'
    'org.jkiss.dbeaver.sql.editor.color.schema.foreground=235,188,186'
    'org.jkiss.dbeaver.sql.editor.color.composite.field.foreground=235,188,186'
    'org.jkiss.dbeaver.sql.editor.color.delimiter.foreground=235,111,146'
    'org.jkiss.dbeaver.sql.editor.color.parameter.foreground=156,207,216'
    'org.jkiss.dbeaver.sql.editor.color.sqlVariable.foreground=156,207,216'
    'org.jkiss.dbeaver.sql.editor.color.command.foreground=196,167,231'
    'org.jkiss.dbeaver.sql.editor.color.semanticError.foreground=235,111,146'
    'org.jkiss.dbeaver.sql.editor.color.disabled.background=31,29,46'
    'org.jkiss.dbeaver.sql.editor.color.aiSuggestion.foreground=110,106,134'
    'org.jkiss.dbeaver.sql.editor.color.aiSuggestion.background=38,35,58'
    'org.jkiss.dbeaver.ui.general.color.warning.foreground=246,193,119'
    'org.jkiss.dbeaver.ui.general.color.error.foreground=235,111,146'
}

IEclipsePreferences#org-eclipse-ui-workbench:rose-pine-data {
  preferences:
    'org.jkiss.dbeaver.sql.resultset.color.cell.odd.background=31,29,46'
    'org.jkiss.dbeaver.sql.resultset.color.selection.background=82,79,103'
    'org.jkiss.dbeaver.sql.resultset.color.selection.foreground=224,222,244'
    'org.jkiss.dbeaver.sql.resultset.color.header.background=38,35,58'
    'org.jkiss.dbeaver.sql.resultset.color.header.foreground=224,222,244'
    'org.jkiss.dbeaver.sql.resultset.color.header.selected.background=49,116,143'
    'org.jkiss.dbeaver.sql.resultset.color.header.border=110,106,134'
    'org.jkiss.dbeaver.sql.resultset.color.lines.normal=38,35,58'
    'org.jkiss.dbeaver.sql.resultset.color.lines.selected=110,106,134'
    'org.jkiss.dbeaver.sql.resultset.color.null.foreground=110,106,134'
    'org.jkiss.dbeaver.sql.resultset.color.string.foreground=224,222,244'
    'org.jkiss.dbeaver.sql.resultset.color.numeric.foreground=156,207,216'
    'org.jkiss.dbeaver.sql.resultset.color.boolean.foreground=196,167,231'
    'org.jkiss.dbeaver.sql.resultset.color.datetime.foreground=246,193,119'
    'org.jkiss.dbeaver.sql.resultset.color.binary.foreground=235,188,186'
    'org.jkiss.dbeaver.sql.resultset.color.cell.modified.background=64,48,32'
    'org.jkiss.dbeaver.sql.resultset.color.cell.new.background=32,48,40'
    'org.jkiss.dbeaver.sql.resultset.color.cell.deleted.background=64,32,40'
    'org.jkiss.dbeaver.sql.resultset.color.cell.error.background=80,32,48'
    'org.jkiss.dbeaver.sql.resultset.color.cell.matched.background=64,56,32'
}

IEclipsePreferences#org-eclipse-ui-workbench:rose-pine-core {
  preferences:
    'org.jkiss.dbeaver.txn.color.committed.background=32,48,40'
    'org.jkiss.dbeaver.txn.color.reverted.background=64,32,40'
    'org.jkiss.dbeaver.txn.color.transaction.background=64,56,32'
    'org.jkiss.dbeaver.ui.navigator.node.transient.foreground=156,207,216'
    'org.jkiss.dbeaver.ui.navigator.node.new.background=32,48,40'
    'org.jkiss.dbeaver.ui.navigator.node.modified.background=64,56,32'
    'org.jkiss.dbeaver.ui.navigator.node.foreground=110,106,134'
    'org.jkiss.dbeaver.ui.navigator.node.statistics.background=38,35,58'
    'org.jkiss.dbeaver.erd.diagram.background=25,23,36'
    'org.jkiss.dbeaver.erd.diagram.entity.regular.background=31,29,46'
    'org.jkiss.dbeaver.erd.diagram.entity.primary.background=38,35,58'
    'org.jkiss.dbeaver.erd.diagram.entity.association.background=38,35,58'
    'org.jkiss.dbeaver.erd.diagram.entity.name.foreground=224,222,244'
    'org.jkiss.dbeaver.erd.diagram.attributes.background=38,35,58'
    'org.jkiss.dbeaver.erd.diagram.attributes.foreground=144,140,170'
    'org.jkiss.dbeaver.erd.diagram.search.highlighting=235,188,186'
    'org.jkiss.dbeaver.erd.diagram.fk.highlighting=246,193,119'
    'org.jkiss.dbeaver.erd.diagram.notes.background=38,35,58'
    'org.jkiss.dbeaver.erd.diagram.notes.foreground=224,222,244'
    'org.jkiss.dbeaver.erd.diagram.lines.foreground=156,207,216'
}
